<h1>{{ title }}</h1>

<div class="container">
  <form>
    Numero 1: 
    <input type="number" placeholder="Ingrese un numero" name="numero1" [(ngModel)]="numero1"> <br><br>
  
    Nuemro 2: 
    <input type="number" placeholder="Ingrese un numero" name="numero2" [(ngModel)]="numero2"> <br><br>
  
    <input type="submit" class="btn btn-primary" value="Sumar" (click)="sumar()">
    <input type="submit" class="btn btn-warning" value="Restar" (click)="restar()">
    <input type="submit" class="btn btn-primary" value="Multiplicar" (click)="multiplicar()">
    <input type="submit" class="btn btn-warning" value="Dividir" (click)="dividir()">
  </form>
  
  <p>Resulrado: {{ resultado }}</p>
</div>